@import '../../../constants.scss';

.products {
  max-height: 100%;
  overflow: auto;
  
  .products-list {
    .product.row {
      .input {
        
        > div {
          border-radius: 5px;
          border-color: $default-gray-light;
          padding: 0;

          input {
            padding: 0;
            text-align: center;
          }
        }
      }
    }
  }
}