// PRIMARY COLORS
$default-primary-darker: #212240;
$default-primary-dark: #3140A5;
$default-primary: #7350ff;
$default-primary-light: #a6a7b3;

// SECONDARY COLORS
$default-secondary-darker: #212240;
$default-secondary-dark: #3140A5;
$default-secondary: #7350ff;
$default-secondary-light: #a6a7b3;

// ACCENT COLORS
$default-accent-darker: #ca5c4e;
$default-accent-dark: #d7796b;
$default-accent: #df8c7e;
$default-accent-light: #e9afa5;
$default-accent-lighter: #f5ddd8;

// GRAY
$default-gray-dark: #686868;
$default-gray: #888888;
$default-gray-light: #dedede;
$default-gray-lighter: #dbdbe0;

// ERROR, WARNING, ETC COLORS
$color-error: #d8000c;
$color-error-background: #fbe5e6;
$color-warning: #9f6000;
$color-warning-background: #fef7d9;
$color-info: #00529b;
$color-info-background: #def2fb;
$color-success: #4f8a10;
$color-success-background: #eff8df;

// BACKGROUNDS
$background-color: #f3f3f3;
$white: #ffffff;
$black: #000000;

// SIZES
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
